<c:template
    xmlns:c="core"
    name="docs-testing"
    params="name,count">
    
    <div class="docs-testing">
        <h1>docs-testing</h1>
        Hello $name! You have $count new messages.
    </div>

</c:template>